SELECT * FROM MS_INTEGRACOES WHERE CLIENTE_ID = 1387915 AND TRUNC(CREATEAT) >= TO_DATE('2020-06-02', 'YYYY-MM-DD') ORDER BY CREATEAT DESC;
SELECT COUNT(*) FROM MS_INTEGRACOES WHERE CLIENTE_ID = 1387915 AND TRUNC(CREATEAT) >= TO_DATE('2020-06-02', 'YYYY-MM-DD') ORDER BY CREATEAT DESC;

SELECT SUM(QUANTIDADE_LINHAS) FROM MS_INTEGRACOES WHERE CLIENTE_ID = 1387915 AND TRUNC(CREATEAT) >= TO_DATE('2020-06-02', 'YYYY-MM-DD'); -- 446799
SELECT SUM(QUANTIDADE_LINHAS_ERROS) FROM MS_INTEGRACOES WHERE CLIENTE_ID = 1387915 AND TRUNC(CREATEAT) >= TO_DATE('2020-06-02', 'YYYY-MM-DD'); -- 48
SELECT COUNT(*) FROM GO_DADOS_CONTABEIS WHERE CLIENTE_ID = 1387915 AND TRUNC(CREATEAT) >= TO_DATE('2020-06-02', 'YYYY-MM-DD'); -- 48



SELECT
    DESCRICAO,
    (SELECT SUM(QUANTIDADE_LINHAS) FROM MS_INTEGRACOES WHERE TRUNC(CREATEAT) >= TO_DATE('2020-06-03', 'YYYY-MM-DD') AND CLIENTE_ID = 1387915) QTD_TOTAL_INTEGRACAO,
    (SELECT COUNT(*) FROM GO_DADOS_CONTABEIS WHERE 1=1 AND CLIENTE_ID = 1387915 AND TRUNC(CREATEAT) >= TO_DATE('2020-06-02', 'YYYY-MM-DD')) QTD_TOTAL_INSERIDAS,
    (
    (SELECT SUM(QUANTIDADE_LINHAS) FROM MS_INTEGRACOES WHERE TRUNC(CREATEAT) >= TO_DATE('2020-06-03', 'YYYY-MM-DD') AND CLIENTE_ID = 1387915) -
    (SELECT COUNT(*) FROM GO_DADOS_CONTABEIS WHERE 1=1 AND CLIENTE_ID = 1387915 AND TRUNC(CREATEAT) >= TO_DATE('2020-06-02', 'YYYY-MM-DD'))
    ) DIFENCA,
    QUANTIDADE_LINHAS,
    QUANTIDADE_LINHAS_UPDATE,
    (QUANTIDADE_LINHAS - QUANTIDADE_LINHAS_UPDATE) QUANTIDADE_LINHAS_INSERIDAS,
    QUANTIDADE_LINHAS_ERROS,
    QUANTID_LINHAS_INSERCAO_ERROS
FROM MS_INTEGRACOES
WHERE TRUNC(CREATEAT) >= TO_DATE('2020-06-03', 'YYYY-MM-DD')
  AND CLIENTE_ID = 1387915;


SELECT MAX(DATA_LANCAMENTO), MIN(DATA_LANCAMENTO) FROM GO_DADOS_CONTABEIS WHERE 1=1 AND CLIENTE_ID = 1387915 AND TRUNC(CREATEAT) >= TO_DATE('2020-06-02', 'YYYY-MM-DD')

SELECT * FROM GO_DADOS_CONTABEIS WHERE CLIENTE_ID = 1387915 AND TRUNC(DATA_LANCAMENTO) > TO_DATE('2019-12-31', 'YYYY-MM-DD');


SELECT * FROM GRUPO_PERMISSOES WHERE CLIENTE_ID = 1388057
AND ID IN (4367, 4604);

SELECT * FROM BASE_ENTIDADES WHERE ENTIDADE_ID = 1388117
AND TRUNC(CREATEAT) >= TO_DATE('2020-06-02', 'YYYY-MM-DD');
DELETE FROM BASE_ENTIDADES WHERE ENTIDADE_ID = 1388117;

SELECT COUNT(*) FROM GO_DADOS_CONTABEIS
WHERE CLIENTE_ID = 1387915
AND TRUNC(CREATEAT) >= TO_DATE('2020-06-02', 'YYYY-MM-DD')
-- WHERE ID_PROCESSO = 99
ORDER BY CREATEAT DESC;

SELECT SUM(QUANTIDADE_LINHAS_ERROS) FROM MS_INTEGRACOES WHERE TRUNC(UPDATEAT) >= TO_DATE('2020-06-02', 'YYYY-MM-DD') AND CLIENTE_ID = 1387915 AND STATUS != 2;
SELECT SUM(QUANTIDADE_LINHAS) FROM MS_INTEGRACOES WHERE TRUNC(UPDATEAT) >= TO_DATE('2020-06-02', 'YYYY-MM-DD') AND CLIENTE_ID = 1387915 AND STATUS = 2;
SELECT * FROM MS_INTEGRACOES WHERE TRUNC(CREATEAT) >= TO_DATE('2020-06-02', 'YYYY-MM-DD') AND CLIENTE_ID = 1387915 AND STATUS != 2;
SELECT * FROM MS_INTEGRACOES WHERE TRUNC(CREATEAT) >= TO_DATE('2020-06-02', 'YYYY-MM-DD') AND CLIENTE_ID = 1387915;
SELECT COUNT(*) FROM MS_INTEGRACOES WHERE TRUNC(CREATEAT) >= TO_DATE('2020-06-03', 'YYYY-MM-DD') AND CLIENTE_ID = 1387915;


SELECT * FROM MS_INTEGRACOES
WHERE TRUNC(CREATEAT) >= TO_DATE('2020-06-02', 'YYYY-MM-DD')
AND DESCRICAO LIKE '%1589899540%'
AND CLIENTE_ID = 1387915;
--
SELECT
    DESCRICAO,
    (SELECT SUM(QUANTIDADE_LINHAS) FROM MS_INTEGRACOES WHERE TRUNC(UPDATEAT) >= TO_DATE('2020-06-03', 'YYYY-MM-DD') AND CLIENTE_ID = 1387915) QTD_TOTAL_INTEGRACAO,
    (SELECT COUNT(*) FROM GO_DADOS_CONTABEIS WHERE 1=1 AND CLIENTE_ID = 1387915 AND TRUNC(UPDATEAT) >= TO_DATE('2020-06-02', 'YYYY-MM-DD')) QTD_TOTAL_INSERIDAS,
    (
    (SELECT SUM(QUANTIDADE_LINHAS) FROM MS_INTEGRACOES WHERE TRUNC(UPDATEAT) >= TO_DATE('2020-06-03', 'YYYY-MM-DD') AND CLIENTE_ID = 1387915) -
    (SELECT COUNT(*) FROM GO_DADOS_CONTABEIS WHERE 1=1 AND CLIENTE_ID = 1387915 AND TRUNC(UPDATEAT) >= TO_DATE('2020-06-02', 'YYYY-MM-DD'))
    ) DIFENCA,
    QUANTIDADE_LINHAS,
    QUANTIDADE_LINHAS_UPDATE,
    (QUANTIDADE_LINHAS - QUANTIDADE_LINHAS_UPDATE) QUANTIDADE_LINHAS_INSERIDAS,
    QUANTIDADE_LINHAS_ERROS,
    QUANTID_LINHAS_INSERCAO_ERROS
FROM MS_INTEGRACOES
WHERE TRUNC(UPDATEAT) >= TO_DATE('2020-06-03', 'YYYY-MM-DD')
-- AND QUANTIDADE_LINHAS != QUANTIDADE_LINHAS_UPDATE
  AND CLIENTE_ID = 1387915;

SELECT * FROM GO_DADOS_CONTABEIS
WHERE id_lancamento = 12461435367
AND cliente_id = 1387915
AND conta_contabil_id = 211904
AND tipo_lancamento_id = 1
AND loja_id = 1387917;


{"id_lancamento":12461435367,"cliente_id":"1387915","conta_contabil_id":211904,"tipo_lancamento_id":1,"loja_id":1387917,"valor_lancamento":1540.5,"centro_custo_id":0,"data_lancamento":"2019-11-27 20:25:02","data_fechamento":"2019-12-01 20:25:02","seq_processo_ctb":124614353,"historico":"","id_processo":"107147","status_processo":"0","createat":"2020-06-03 20:25:02","updateat":"2020-06-03 20:25:02"}



DELETE FROM MS_INTEGRACOES WHERE TRUNC(UPDATEAT) >= TO_DATE('2020-06-02', 'YYYY-MM-DD') AND CLIENTE_ID = 1387915;
DELETE FROM GO_DADOS_CONTABEIS
WHERE CLIENTE_ID = 1387915
AND TRUNC(UPDATEAT) >= TO_DATE('2020-06-02', 'YYYY-MM-DD');
COMMIT;

SELECT COUNT(DESCRICAO) CNT, DESCRICAO FROM MS_INTEGRACOES WHERE TRUNC(CREATEAT) >= TO_DATE('2020-06-03', 'YYYY-MM-DD') AND CLIENTE_ID = 1387915
GROUP BY DESCRICAO;

SELECT DESCRICAO FROM MS_INTEGRACOES WHERE TRUNC(CREATEAT) >= TO_DATE('2020-06-02', 'YYYY-MM-DD') AND CLIENTE_ID = 1387915 AND ARQUIVO_NOME_ORIGINAL LIKE '%1591141862%';
SELECT * FROM JOBS_PH4;

SELECT * FROM API_VALIDA_ENVIO WHERE ID_PACOTE LIKE '%1033056016%';

SELECT * FROM INP_DIGITACAO_COLETAS WHERE ID_PACOTE LIKE '%1033056016%';
SELECT * FROM INP_DIGITACAO_COLETAS WHERE ID = 12243763;

SELECT * FROM OCOR_OCORRENCIAS WHERE  ID = 12243763;


SELECT
(SELECT SUM(QUANTIDADE_LINHAS) FROM MS_INTEGRACOES WHERE TRUNC(CREATEAT) >= TO_DATE('2020-06-02', 'YYYY-MM-DD') AND CLIENTE_ID = 1387915 AND STATUS = 2) QTD_INTEGRACAO,
(SELECT COUNT(*) FROM GO_DADOS_CONTABEIS WHERE 1=1 AND CLIENTE_ID = 1387915 AND TRUNC(UPDATEAT) >= TO_DATE('2020-06-03', 'YYYY-MM-DD')) QTD_INSERIDAS
FROM DUAL;

SELECT 446799-422872-48 FROM DUAL;


SELECT COUNT(*) FROM GO_DADOS_CONTABEIS
WHERE CLIENTE_ID = 1387915
AND TRUNC(CREATEAT) >= TO_DATE('2020-06-02', 'YYYY-MM-DD')
-- WHERE ID_PROCESSO = 99
ORDER BY CREATEAT DESC;

SELECT * FROM GO_PLANO_CONTAS
WHERE CLIENTE_ID = 1388117
AND TRUNC(CREATEAT) >= TO_DATE('2020-06-02', 'YYYY-MM-DD')
-- WHERE ID_PROCESSO = 99
ORDER BY CREATEAT DESC ;

SELECT * FROM GO_DADOS_CONTABEIS
WHERE CLIENTE_ID = 1388117
AND TRUNC(CREATEAT) >= TO_DATE('2020-06-03', 'YYYY-MM-DD')
-- WHERE ID_PROCESSO = 99
ORDER BY CREATEAT DESC ;

SELECT * FROM JOBS;
SELECT * FROM JOBS_PH4;




-- DELETE GO_PLANO_CONTAS
-- WHERE CLIENTE_ID = 1388117
-- AND TRUNC(CREATEAT) >= TO_DATE('2020-06-02', 'YYYY-MM-DD');
DELETE FROM GO_DADOS_CONTABEIS
WHERE CLIENTE_ID = 1388117
AND TRUNC(CREATEAT) >= TO_DATE('2020-06-02', 'YYYY-MM-DD');
COMMIT;

SELECT
*
FROM GO_DADOS_CONTABEIS
WHERE CLIENTE_ID = 1388117;






